@model IEnumerable<WebApplication_Fer.Models.Alumno>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div style="position: relative; width: 500px; height: 200px; ">
                <img src="~/img/tessfp.jpeg" alt="Encabezado" style="position: absolute; top: 20px; left: 10px; max-width: 100%; height: auto;">
            </div>

            <div class="col-6">
                <img src="~/img/tec.png" alt="Encabezado2" style="position: absolute; top: 20px; left: 1080px; max-width: 100%; height: auto;">
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h5 style="font-size: 40px; font-weight: bold; text-align: center;">
                    Lista de Alumnos
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center" style="font-size: 30px; font-weight: bold; text-align: center;">
                        Administración de los alumnos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style="width: 100%; border-collapse: collapse; border: 1px solid black; text-align: center; font-size: 20px;">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid black;">Id</th>
                                        <th style="border: 1px solid black;">Nombre</th>
                                        <th style="border: 1px solid black;">Calificación</th>
                                        <th style="border: 1px solid black;">Semestre</th>
                                        <th style="border: 1px solid black;">Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var elemento in Model)
                                    {
                                        <tr>
                                            <td style="border: 1px solid black;">@elemento.Id</td>
                                            <td style="border: 1px solid black;">@elemento.NombreAlumno</td>
                                            <td style="border: 1px solid black;">@elemento.Calificacion</td>
                                            <td style="border: 1px solid black;">@elemento.Semestre</td>
                                            <td>
                                                <img src="@elemento.Imagen" alt="Imagen guardada" style="max-width: 100px; max-height: 100px;">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>